<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

  .font-body {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }

  .docs-markdown figure.content-center {
    padding-top: 0.5rem;
    background-color: #f3f3f3;
    border-radius: 0.25rem;
  }

  .docs-markdown figure.content-center .caption {
    margin-bottom: 0.5rem;
  }

  .docs-markdown table th {
    font-weight: bold !important;
  }

  .dark .docs-markdown figure.content-center {
    background-color: rgb(40, 40, 40);
  }
</style>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(92717609, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true,
    trackHash:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/92717609" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->